* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #a9a9a9;
  margin: 0 auto;
}

.application-box {
  background-color: #fff;
  width: 900px;
  height: 1050px;
  margin: 20px auto;
  padding: 30px 20px 10px 20px;
  border-radius: 10px;
  box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.1);
}

.application-box h2 {
  font-size: 44px;
  margin-bottom: 40px;
}

/* Form Starts Here */
.form-control {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row-control {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  min-width: 400px;
  min-height: 100px;
}

label {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

input,
select {
  width: 400px;
  height: 65px;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px;
}

textarea {
  width: 860px;
  min-height: 100px;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px;
}

.upload-resume input {
  width: 300px;
  height: 60px;
}

.apply-button button {
  width: 200px;
  height: 65px;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px;
  background-color: #a9a9a9;
  margin-top: 20px;
}
